.task-section {
  width: 100%;
}

.add-button2 {
  padding: 0;
  height: 30px;
  background-color: white;
  border: none;
}

.add-button2 img {
  width: 24px;
  height: 24px;
}

.tasks-add {
  width: 408px;
}

.search-area2 {
  height: 45px;
  background-color: aliceblue;
  font-size: 14px;
  font-family: inherit;
  border: none;
  width: 400px;
}

p {
  margin: 0;
}

.checkbox {
  height: 50px;
  width: 50px;
}
.checkbox:not(:last-child) {
  border-bottom: 2px solid white;
}
.check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}
.label span {
  position: absolute;
  margin-top: 15px;
}
.path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: 0.5s all;
}
.path2 {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  transition: 0.5s all;
}
.check:checked + label svg g path {
  stroke-dashoffset: 0;
}

h4 {
  display: flex;
  align-items: center;
  font-size: 20px;
}
